* {
    font-family: Roboto;
}

.container {
    margin-top: 100pt;
    display: flex;
    margin-left: 80pt;
    margin-right: 80pt;
    height:auto;
}

.first_section,.second_section {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 5pt;
    box-shadow: 2px 2px 4px #9b9b9b;
    border-radius:10px;
    padding:10pt;
}

.selection, .ProductAdd {
    display: flex;
    margin: 50pt;
    gap: 20pt;
    align-items: end;
}

.Input {
    border: none;
    background: none;
    border-bottom: 1px solid gray;
    width: 150pt;
}

.dateselector {
    margin-left: auto;
}

.ProductAdd {
    margin-top: 0;
    margin-bottom: 0;
}

.btn {
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(to bottom, rgb(133, 133, 190), rgb(96, 96, 255));
    color: white;
    width: 70pt;
    height: 20pt;
    margin-left: auto;
    transition: all ease-in 10ms;
}

    .btn:hover {
        box-shadow: 0 0 5px rgb(96, 96, 255);
    }

.datagrid {
    margin-top: 0;
    align-self: center;
}

.Grid td {
    border: solid 3px #FFFFFF;
    font-family: Arial;
    padding: 5px 5px 5px 5px;
    text-align: center;
    text-align: end;
    border-bottom: 1px solid black;
}

.Total {
    display: flex;
    flex-direction: column;
}

.amountInfo {
    display: flex;
    flex-direction: column;
    gap: 10pt;
    margin-left: auto;
    margin-right: 140pt;
    margin-top: 20pt;
    font-weight: lighter;
}

.infolbl {
    margin-left: auto;
}

.total {
    padding-top: 5pt;
    padding-bottom: 5pt;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
.SearchField{
    display:flex;
    flex-direction:column;
    gap:10pt;
    padding:20pt;
}
.Listings{
    display:flex;
    flex-direction:row;
    gap:30pt;
    margin:10pt;
}
